*{
   margin: 0;
   padding: 0;
   
}
.menu #top{
	margin: 0px auto 10px;
}
.row{
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
}

/* Nav heading */
#navbar{
	background-color: gainsboro;
}
.navbar-brand a{
	font-size: 1.5em;
	font-weight: bold;
	color: maroon;
	text-shadow: 1px 1px 1px #ccc;
}
.navbar-brand a{
	text-decoration: none;
}

.col{
	background-color: gray;
	border: 5px solid black;
	padding: 0;
	margin-bottom: 5px;
}

#content, .topp{
	margin: 10px;
	clear: both;
	
}

#title1 {
	background: pink;
	font-size: 2em;
	position: relative;
	border: 1px solid black;
	float: right;
	clear: left;
	padding: 2px 6px 2px 6px;
	top: 0px;
}
 #title2{
	background-color: red;
	font-size: 2em;
	position: relative;
	border: 1px solid black;
	float: right;
	clear: left;
	padding: 2px 6px 2px 6px;
	top: 0px;
}
#title3{
	background-color: yellow;
	font-size: 2em;
	position: relative;
	border: 1px solid black;
	float: right;
	clear: left;
	padding: 2px 6px 2px 6px;
	top: 0px;
}
#nav-list a{
	color: maroon;
	text-align: center;
}

#nav-list a:hover{
	background-color: #E7E7E7;
}
#nav-list a span{
	font-size: 1.3em;
}
#myNavbar{
	width: 100%;
}

#navbar button.navbar-toggle{
	border: 1px solid black;
}
#navbar button.navbar-toggle:active, #navbar button.navbar-toggle:hover{
	background-color: #E7E7E7;
}